<header>
       <nav class="header-placeholder">
       <!-- Table of Contents-->
         <ul>
           <li style="font-size: 40px;">&#120139;</li>
           <li><a href="index.html">Home</a></li>
           <li><a href="about.html">About</a></li>
           <li><a href="services.html">Services</a></li>
           <li><a href="products.html">Product</a></li>
           <li><a href="news.html">News</a></li>
           <li><a href="contact.html">Contact</a></li>
           <li style="float:right;">Change Theme: <label class="switch"> <input type="checkbox" id="theme-toggle"> <span class="slider round"></span></label></li>           </ul>
       </nav>
</header>
